* {
    box-sizing: border-box;
  }
  
.home-hero-section {
     padding: 10px 20px; 
    /* background-color: #9e7eee; */
    /* background-image: url('/public/assets/images/bg1.png'),url('/public/assets/images/bg2.png'); */
    background-image: url('/public/assets/images/bg2.png'),url('/public/assets/images/bg1.png'),linear-gradient(151deg,white, rgb(130, 75, 239));
    background-repeat: no-repeat,no-repeat,repeat;
  background-size: 1100px,1200px,auto;
  padding-top: 4em;
  background-position: 600px 200px,0 0,0 0;
    padding-bottom: 2em;
    /* background-size: cover;  */
  /* background-position: center; Centers the image */
  background-repeat: no-repeat; 
  /* height: auto; */
  

  }
  .home-hero-img-container img{
    width: 100%;
    height: auto;
    display: block;
  }
  
  .hero-wrapper-90 {
    /* max-width: 90%;
    margin: 0 auto; */

   
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 3em;
      padding-bottom: 6em;
      display: flex;
      position: relative;
  }
  
  .home-hero-copy-container {
    text-align: center;
    margin-bottom: 40px;
    grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
  max-width: 650px;
  display: flex;
  }
  
  .hero-h1 {
    padding-bottom: 0;
    color: var(--blackberry--100);
    text-align: left;
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-family: Youth,sans-serif;
    font-size: 4.5em;
    font-weight: 600;
    line-height: 95%;
  }
  
  
  .homepage-hero-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-left: -48px;
  }
  
  .home-hero-usp {
    grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  display: flex;
  }
  
  .home-hero-usp-div {
    display: flex;
    align-items: center;
    
    justify-content: flex-start;
  }
  
  .home-hero-usp-icon {
    width: 20px;
    margin-right: 10px;
    
    
  }
  
  .body-small.highlight {
    font-size: 18px
  }
  .image-172 {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .cv2-button-container {
    text-align: center;
   
    display: flex;
  position: static;
  }
  .cv2-cta-social-proof {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }
  /* .button-animation-wrapper {
    width: auto;
    transition: all .2s;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
  
  } */
  
  .primary-button-v2 {
    background-color: #007bff;
    color: #fff;
    /* padding: 10px 20px; */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 1px solid var(--plum--color);
  /* background-color: var(--plum--color); */
  /* color: var(--white); */
  text-align: center;
  border-radius: 16px;
  margin-right: 0;
  padding: 24px 36px;
  font-size: 1.4em;
  transition: all .2s;
  display: inline-block;
  }
  
  .primary-button-v2:hover {
    background-color: #0056b3;
  }
  
  ._5-stars-g2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  ._5-stars-hp {
    display: flex;
  }
  
  
  ._5-star-img-hp {
    width: 20px;
    margin-right: 5px;
  }
  
  ._5-start-text {
    
    font-weight: bold;
  }
  
  .no-credit-card-req {
    margin-top: 20px;
    width: 180px;
  max-width: 100%;
  position: relative;
  bottom: 30px;
  right: 0;
  
  }
  
  .home-hero-img-container {
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  max-width: 550px;
  margin-top: -170px;
  
  position: relative;
  }
  .home-hero-main-image {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    transform-style: preserve-3d;
    border-radius: 16px;
  width: 95%;
  margin-left: 0;
  margin-right: auto;
  box-shadow: 0 50px 120px #00000014;
  }
  .home-hero-main-image {
    border-radius: 16px;
    width: 95%;
    margin-left: 0;
    margin-right: auto;
    box-shadow: 0 50px 120px #00000014;
  }
  
  .home-hero-images {
    margin: 10px;
    height: auto;
    border-radius: 16px;
  }
  .home-hero-image-wrap {
    border-radius: 16px;
    width: 55%;
    max-width: 319px;
    position: absolute;
    inset: auto auto -38% 4%;
    box-shadow: 0 16px 67px #00000012;
  }
  .home-hero-image-wrap.michael {
    z-index: 2;
    width: 40%;
    max-width: 200px;
    inset: auto -5% -175px auto;
  }
  .home-hero-image-wrap {
    border-radius: 16px;
    width: 55%;
    max-width: 319px;
    position: absolute;
    inset: auto auto -38% 4%;
    box-shadow: 0 16px 67px #00000012;
  }
  .home-hero-profile-wrap.elin {
    z-index: 11;
    position: absolute;
    inset: -8% 0% auto auto;
  }
  .home-hero-profile-wrap {
    width: 25%;
    max-width: 90px;
  }
  .home-hero-profile-wrap.clayton {
    z-index: 11;
    max-width: 100px;
    position: absolute;
    inset: 46% auto auto -5%;
  }
  .home-hero-profile-wrap {
    width: 25%;
    
  }
  
  .home-hero-profile-images {
    border-radius: 50%;
  }
   
  @media(max-width:991px){
  
    .hero-wrapper-90{
      flex-direction: column;
      width: 100%;
    
    }
    .home-hero-copy-container{
      width: 100%;
    }
    .home-hero-img-container{

    width: 100%;
    margin-top: 0px;
    }
  }
  .head{
    text-align: center;
    margin-top: 50px;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 140%;
  }
  .logo{
   
  
    
  }
  
  .logo img{
    width: 150px;
  }
  
  .features1 .feaz{
    margin-top: 40px;
    text-align: center;
    
    /* align-items: center; */
    
  }
  .features1 .feaz .fea2z{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 100px;
    align-self: auto;
    font-family: Inter,Arial,sans-serif;
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  
    
  }
  .fea3zz{
    letter-spacing: -2px;
  font-family: Youth,sans-serif;
  font-size: 4em;
  font-weight: 600;
  line-height: 95%;
  }
  .features1{
    margin-bottom: 50px;
  }
  
  
  
  